<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="AlbumDirectoryCreator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  <userSettings>
    <AlbumDirectoryCreator.Properties.Settings>
      <setting name="pathOrigin" serializeAs="String">
        <value>G:\Stuff\Musik</value>
      </setting>
      <setting name="pathDestiny" serializeAs="String">
        <value>G:\Stuff\Musik\Musik Geordnet</value>
      </setting>
    </AlbumDirectoryCreator.Properties.Settings>
  </userSettings>
</configuration>